<form (ngSubmit)="onSubmit()" [formGroup]="form" class="max-w-md mx-auto p-4 bg-white rounded shadow">
    <h2 class="text-xl font-semibold mb-4">Välj möjliga upplägg</h2>
    <div class="mb-4">
        <label *ngFor="let option of arrangementOptions" class="flex items-center mb-2 cursor-pointer">
            <input type="checkbox" [formControlName]="option.controlName" class="mr-2" />
            {{ option.label }}
        </label>
    </div>


    <h2 class="text-lg font-semibold mb-4">Välj drivmedel</h2>
    <div class="mb-4">
        <label *ngFor="let fuel of fuelOptions" class="flex items-center mb-2 cursor-pointer">
            <input type="checkbox" [formControlName]="fuel.controlName" class="mr-2" />
            {{ fuel.label }}
        </label>
    </div>


    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 hover:cursor-pointer">
        Visa alternativ och kostnad
    </button>
</form>